html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0;
    border: 0;  
    font-size: 12px;
    font-family: Verdana, sans-serif;
    vertical-align: baseline;
    line-height: 1;
}
    
html,
body { height: 100%; }
body {
    max-width: 1000px;
    overflow-x: hidden;
    line-height: 1;
    color: #333;
    background: #fff;
    margin: 0 auto; padding: 2%;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

h2{
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: 300;
}

p{
    margin-bottom: 10px;
}

pre{
    color: #999;
    font-style: italic;
    line-height: 1.4;
  background: #8f8e7d;
  color: #fff;
  width: 25%;
  padding: 1%;  
}

.specific-element{
    background: #ddd;
    border-left: 1px solid #aaa;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: #ff6600;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

.specific-element p{
    margin-bottom: 20px;
}

.specific-element .button{    
    display: block;
    width: 80%;
    clear: both;
}
/* --- Column Styles --- */
.row {
    margin: 0 -1% 1%;
    padding: 0;
    clear: both;
}
.row:before,
.row:after {
    content: ' ';
    display: table;
}
.row:after { clear: both; }
.row > [class^='col-'] {
    float: left;
    margin: 0 1% 2%;
    padding: 2%;
    list-style: none;
    background: #eee;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.col-full { width: 98%; }
.col-12 { width: 48%; }
.col-13 { width: 31.333%; }
.col-23 { width: 64.666%; }
.col-14 { width: 23%; }
.col-34 { width: 73%; }
.col-15 { width: 18%; }
.col-25 { width: 38%; }
.col-35 { width: 58%; }
.col-45 { width: 78%; }
.row p {    
    padding: 20px;
    font-family: inherit;
    font-size: inherit; 
    line-height: 1.5;
    color: #555;
}
.row h2 {
    margin: 0 0 -10px;
    padding: 20px 20px 0;
    text-transform: uppercase;
    font-size: 1.425em;
    font-weight: normal;
    color: #004488;
}
@media ( max-width: 640px ) {
    .row {
        margin: 0;
    }
    .row > [class^='col-'] {
        float: none;
        width: auto;
        margin: 0 0 2%;
    }
}